accelerate==1.9.0
bitsandbytes==0.46.1
datasets==3.6.0
dotenv==0.9.9
huggingface-hub==0.34.1
jieba==0.42.1
numpy==2.3.2
openai==1.98.0
pandas==2.3.1
peft==0.16.0
python-dotenv==1.1.1
scikit-learn==1.7.1
scipy==1.16.1
sentencepiece==0.2.0
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.54.1
trl==0.20.0
unsloth==2025.7.11
